<?xml version="1.0"?>
<config>
    <modules>
        <Nv_Catalog>
            <version>1.0</version>
        </Nv_Catalog>
    </modules>
    <global>
        <helpers>
            <nv_catalog>
                <class>Nv_Catalog_Helper</class>
            </nv_catalog>
            <catalog>
                <rewrite>
                    <product_compare>Nv_Catalog_Helper_Product_Compare</product_compare>
                </rewrite>
            </catalog>
        </helpers>
    </global>
</config>