<?xml version="1.0"?>
<config>
    <tabs>
        <nvfeaturedtab translate="label">
            <label>Featured Products</label>
            <sort_order>150</sort_order>
        </nvfeaturedtab>
    </tabs>
    <sections>
        <nvfeaturedtab translate="label" module="adminhtml">
            <label>Featured Products</label>
            <tab>nvfeaturedtab</tab>
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>                
                <featured_group translate="label comment">
                	<label>Featured Products Category</label>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                    	<featured_category_id translate="label">
                            <label>Featured Products Category ID:</label>
                            <comment>Category ID is found under Catalog > Manage Categories</comment>
                            <frontend_type>text</frontend_type>     
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </featured_category_id>                       
                    </fields>
                </featured_group>              
            </groups>
        </nvfeaturedtab>        
    </sections>
</config>